@import 'nib'

html, body, div, canvas
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline

html, body
  background #fff
  height 100%
  width 100%

body
  font-family Helvetica Neue
  font-size 13.5px
  font-weight 300

canvas
  display block

.nav
  position fixed

.links
  display block
  padding 10px 0 10px 10px

.hide
  display: none
